.baslangic p{
   

    font-size: 50px;
    color: black !important;

}
.baslangic h1{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 400px;
    right: 400px;
    color: black !important;
    
}
.baslangic h5{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 400px;
    right: 400px;
    font-size: 30px;
    color: black !important;
    
}




.orta h1 {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
   background-color:  black;
   margin-top: 300px;
   
}
.btn1{
    background-color:  rgba(0, 0, 0, 0.54);
    color: white;
    font-size: 30px;
    margin-left: 300px;
    margin-right: 400px;
    border-radius: 20px;
}
 .btn{
    background-color: rgba(0, 0, 0, 0.54) ;
    border: none;
 }

html{
    background-color: rgba(0, 0, 0, 0.54) !important;
}
.text{
    background-color: rgba(0, 0, 0, 0.54) !important;
}
.test1{
    color: azure !important;
}

.element{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;


}
.container{
    width: 100%;
    height: 70px;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.new5{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
}
